<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to <span [ngStyle]="{'color': colorClass}">{{ title }}</span> !
  </h1>
  <p>{{ getDescription() }}</p>
  
</div>

<div>
  <h2 *ngIf="(user.name=='Patrick')">{{ user.name }}</h2>
  <p>{{ user.age }}</p>
  <p>Birthday: {{ user.birthday | date: 'dd/MM/yyyy'}}</p>
</div>

<button (click)="changeTitle($event)" (click)="changeColor($event)" >Change Title end color</button>

<!-- <button [style.color]="isSpecial ? 'Change Color': 'red'" [style.background-color]="canSave ? 'cyan': 'grey'">Test Background Color</button> -->

<button (click)="changeColor($event)" >Change color of Title</button>

<select (change)="colorChoice($event)">
    <option value="Black">Couleur Originale</option>
    <option value="red">Rouge</option>
    <option value="blue">Bleue</option>
    <option value="green">Vert</option>
</select>

<p>
  Test input <input (input)="testInput($event)" type ="texte">
</p>
<p >Récupération Input : {{ testRecuperationInput }}</p>

<p>
  Test Checkbox <input type="checkbox" (change) = "testCheckbox($event)" name="voiture" value="peugeot">Voiture<br>
  Test Checkbox <input type="checkbox" (change) = "testCheckbox($event)" name="moto" value="kawazaki">Moto<br>
</p>

<select (change)="colorChoice($event)">
  <option *ngFor="let color of colors" [value]="color">{{color}}</option>
</select>

<ul>
  <li *ngFor="let person of users" (click)="afficherDetails(person)">{{person.name}}</li>
</ul>

<em *ngIf="selectedPerson.name !==''">
  <li>{{selectedPerson.name}}</li>
  <li><img src ="{{selectedPerson.image}}"></li> <!--        ou <img [src]="selectedPerson.image">        -->
  <li>{{selectedPerson.age}}</li>
  <li>{{selectedPerson.birthday}}</li>
</em>
